<h1>Hello World</h1>
<p>See Me in views/static/index.html.erb</p>
<a href='/question/new'>Create new question</a>

<!-- login section -->
<% unless logged_in? %>
  <%= "<a href='login'>Log in</a>" %>
  <%= "<a href='signup'>Register</a>" %>
<% else %>
  <%= "<a href='logout'>Sign out</a>" %>
<% end %>

<!-- generate all questions on the front page -->
<% Question.all.each do |x| %>
  <%= ("
    <h3><a href='/question/#{x.id}'>#{x.title}</a></h3>
    <h5>Asked by #{User.find(x.user_id).full_name}
    <span>Currently has #{x.rating} updoots</span>
  ") %>

  <!-- voting buttons -->
  <% @model = "question" %>
  <% @id = x.id %>
  <%= erb :"extensions/vote_buttons" %>

<% end %>
