<h1>Hello World</h1>
<p>See Me in views/static/index.html.erb</p>
<a href='/question/new'>Create new question</a>

<!-- login section -->
<% unless logged_in? %>
  <%= "<a href='login'>Log in</a>" %>
  <%= "<a href='signup'>Register</a>" %>
<% else %>
  <%= "<a href='logout'>Sign out</a>" %>
<% end %>

<!-- generate all questions on the front page -->
<% Question.all.each do |x| %>
  <%= ("
    <h3><a href='/question/#{x.id}'>#{x.title}</a></h3>
    <h5>Asked by #{User.find(x.user_id).full_name}
    <span>Currently has #{QuestionVote.where("question_id = ? AND vote_type = ?", x.id, "upvote").count - QuestionVote.where("question_id = ? AND vote_type = ?", x.id, "downvote").count} updoots</span>
  ") %>
  <!-- TODO shorten updoot conditions; make more DRY -->
  <!-- upvoting requires being logged in -->
  <% if logged_in? %>
    <!-- Check if already upvoted -->
    <% if current_user.question_votes.find_by("question_id = ? AND vote_type = ?", x.id, "upvote").nil? %>
      <%= "<form method='post' action='/question/#{x.id}/upvote' name='upvote'>" %>
          <input type=submit value="updoot">
      </form>
    <% else %>
      <%= "<form method='post' action='/question/#{x.id}/remove-vote' name='remove-vote'>" %>
          <input type=submit value="updooted">
      </form>
    <% end %>
    <!-- Check if already downvoted -->
    <% if current_user.question_votes.find_by("question_id = ? AND vote_type = ?", x.id, "downvote").nil? %>
      <%= "<form method='post' action='/question/#{x.id}/downvote' name='downvote'>" %>
          <input type=submit value="downvote">
      </form>
    <% else %>
      <%= "<form method='post' action='/question/#{x.id}/remove-vote' name='remove-vote'>" %>
          <input type=submit value="downvoted">
      </form>
    <% end %>
  <% else %>
    <form method='get' action='/login'>
        <input type=submit value="updoot">
    </form>
    <form method='get' action='/login'>
        <input type=submit value="downvote">
    </form>
  <% end %>
<% end %>
